### ---------------------
### Network Configuration
### ---------------------
[net]
# Batch configuration
batch=1
subdivisions=1
# Image configuration
width=416
height=416
channels=3
# Optimizer configuration
momentum=0.9
decay=0.0005
# Augmentation configuration
angle=0
saturation=1.5
exposure=1.5
hue=.1
# Training configuration
learning_rate=0.001
burn_in=1000
max_batches=240000
policy=steps
steps=192000,216000
scales=.1,.1

### ---------
### Section 1
### ---------
[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

### ---------
### Pooling 1
### ---------
[maxpool]
size=2
stride=2

### ---------
### Section 2
### ---------
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

### ---------
### Pooling 2
### ---------
[maxpool]
size=2
stride=2

### ---------
### Section 3
### ---------
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

### ---------
### Pooling 2
### ---------
[maxpool]
size=2
stride=2

### ---------
### Section 4
### ---------
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

### ---------
### Pooling 4
### ---------
[maxpool]
size=2
stride=2

### ---------
### Section 5
### ---------
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

### ---------
### Pooling 5
### ---------
[maxpool]
size=2
stride=2

### ---------
### Section 6
### ---------
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

### ---------
### Predictor
### ---------
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

[route]
layers=-9

[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=64
activation=leaky

[reorg]
stride=2

[route]
layers=-1,-4

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=625
activation=linear

[region]
anchors=1.07,1.07, 1.55,2.33, 3.12,4.05, 3.25,1.53, 6.32,6.41
bias_match=1
classes=120
coords=4
num=5
softmax=1
jitter=.3
rescore=1

object_scale=5
noobject_scale=1
class_scale=1
coord_scale=1

absolute=1
thresh=.6
random=1
